@using MiniSurveys.Web.Models.Survey.NewSurvey
@model NewSurveyViewModel

<div class="main-body__title title create-survey__title">
    <h1>Создание нового опроса</h1>
</div>
<div class="create-survey__name-survey">
    <label for="">Название опроса</label>
    <input type="text" placeholder="Введите название">
</div>
<button class="create-survey__add" id="addQuestion">Добавить вопрос</button>
<div class="create-survey__list" id="questionList">
    @foreach (NewQuestionViewModel item in @Model.Questions)
    {
        @await Html.PartialAsync("~/Views/Admin/NewSurvey/QuestionPartial.cshtml", item)
    }
</div>
<button type="submit" id="submit" class="create-survey__body-save">Сохранить опрос</button>