@using MiniSurveys.Web.Helpers
@model MiniSurveys.Web.Models.Survey.SurveyViewModel

<div class="qustion__body">
    <div class="question__number">
        <span>@Model.CurrentQuestion</span>
        <span>/</span>
        <span>@Model.Questions.Count()</span>
        <span>&nbsp;вопрос</span>
    </div>
    @if (!String.IsNullOrWhiteSpace(Model.GetQuestion().Title))
    {
        <div class="question_title title">@Model.GetQuestion().Title</div>
    }
</div>
<div class="answer">
    <form class="answer__body">
        @if (Model.GetQuestion().IsMedia)
        {
            <div class="slider">
                @foreach (var item in Model.GetQuestion().Media)
                {
                    @await Component.InvokeAsync("SliderItem", item)
                }
                <div class="slider__footer">
                    <a class="prev">&#10094;</a>
                    <a class="next">&#10095;</a>
                </div>
            </div>

            <br>
            <div class="slider-menu">
                @for (int i = 1; i <= Model.GetQuestion().Media.Count; i++)
                {
                    if (i == 1)
                    {
                        <span class="dot active" id="picture_@i"></span>
                    }
                    else
                    {
                        <span class="dot" id="picture_@i"></span>
                    }
                }
            </div>
        }
        <ul class="answer__list">
            @foreach (var item in Model.GetQuestion().Answers)
            {
                @await Component.InvokeAsync("ElementAnswer", item)
            }
        </ul>
        <div class="answer__footer">
            <button class="answer__button" id="button_left" @Html.isDisableButton(!Model.isBack())>
                <img src="~/img/ArrowLeft.svg" alt="">
            </button>

            @if(Model.CurrentQuestion == Model.Questions.Count())
            {
                <a href="/Save" class="answer__button">Отправить</a>
            }
            else
            {
                <button class="answer__button" id="button_rigth">
                    <img src="~/img/ArrowRigth.svg" alt="">
                </button>
            }
        </div>
    </form>
</div>