@model ResultViewModel

<h1 class="main__title title">@Model.SurveyName</h1>
<div class="result">
    <div class="result__header">
        <form action="" class="result__fillter" id="@Model.Id">
            <select asp-for="SelectedDepartment.Value" asp-items="Model.DepartmentsSelectList" id="combobox">
            </select>
            <input type="button" value="Применить" id="button-apply">
        </form>
        <div class="result__excel-button">
            <input type="button" value="Импорт в Excel">
        </div>
    </div>
    <div class="result__main">
        <div class="result__diagramma">
            <h3>Количество прошедших</h3>
            <canvas id="myChart1"></canvas>
            </div>

        <div class="result__gistogramma" id="barCharts"></div>
    </div>
</div>