<div class="main-body__title title create-survey__title">
    <h1>Создание нового опроса</h1>
</div>
<button class="create-survey__add">Добавить вопрос</button>
<div class="create-survey__list">
</div>
<button class="create-survey__body-save">Сохранить опрос</button>