@using MiniSurveys.Web.Models.UserView
@model IEnumerable<UserViewModel>

<div class="main-body main__users">
    <div class="main-body__title title">
        <h1>Управление пользователями</h1>
    </div>
    <div class="main__searchandbutton ultrauser__searchandbutton">
        <button class="main__add" onclick="showInPopup('@Url.Action("UserCreatePartial","Admin", null, Context.Request.Scheme)')">+ Добавить</button>
        <div class="main__search">
            <input type="text" id="search-users">
            <img src="../img/search.svg" alt="">
        </div>
    </div>
    <div id="users-id" class="main__table">
        @await Html.PartialAsync("UserListPartial", Model)
    </div>
    <div class="popup">
        <div class="popup-body">
            <div class="popup-content">
            </div>
        </div>  
    </div>
</div>