<header class="header">
    <div class="header__logo">
        <a href="">
            <img src="img/header-logo.png" alt="">
        </a>
    </div>
    <ul class="header__list">
        <li class="header__li">
            <a href="#">
                <img src="img/default_avatar.png" alt="" class="avatar">
                <span>Фамилия И.О.</span>
            </a>
        </li>
        <li class="header__li header__li_active">
            <a href="#">Опросы</a>
        </li>
        <li class="header__li">
            <a href="#">Выход</a>
        </li>
    </ul>
</header>