@using Microsoft.AspNetCore.Identity
@using MiniSurveys.Domain.Modals
@using System.Security.Claims
@using MiniSurveys.Web.Helpers
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User)) 
{
    var user = await UserManager.FindByIdAsync(User.FindFirst(ClaimTypes.NameIdentifier).Value);
    ViewBag.Name = $"{user.Name[0]}.{user.Patronymic[0]}. {user.Surname}";
    ViewBag.Avatar = user.HrefAvatar;
}

<header class="header">
    <div class="header__logo">
        <a asp-action="Index" asp-controller="Survey">
            <img src="~/img/header-logo.png" alt="">
        </a>
    </div>

    <ul class="header__list">
        <li class="header__li @Html.IsActiveLiHeader("Account", "Index")">
            <a asp-action="Index" asp-controller="Account">
                <img src="~/img/UsersImages/@ViewBag.Avatar" alt="" class="avatar" asp-append-version="true">
                <span>@ViewBag.Name</span>
            </a>
        </li>

        @if (this.User.IsInRole("HR"))
        {
            <li class="header__li dropdown">
                <span class="dropbtn">Управление</span>
                <div class="dropdown-content">
                    <a asp-action="Users" asp-controller="Admin" class="@Html.IsActiveLiHeader("Admin", "Users")">Управление пользователями</a>
                    <a asp-action="Index" asp-controller="Admin" class="@Html.IsActiveLiHeader("Admin", "Index")">Управление опросами</a>
                </div>
            </li>
        }

        <li class="header__li">
            <form method="post" asp-controller="Account" asp-action="Logout">
                <input type="submit" value="Выход">
            </form>
        </li>
    </ul>
</header>